.aboutUs {
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
    padding: 40px 20px;
    box-shadow: 10px 10px 10px rgb(190, 190, 190);
    border-radius: 15px;
    background-color: white;
}
    .aboutUs p {
        font-size: 20px;
        color: black;
    }

.info {
    background-color: #007bff;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    .aboutUs h1 {
        padding-bottom: 10px; 
    }
    .aboutUs p {
        font-size: 18px;
    }
}