html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.custom-nav-bg {
	min-height:20px;	
}

.navbar-brand>img {
	height: 60px;
	width: auto;
}

.navbar-brand {
	font-size: 20px;
	color:white !important;
}

.navbar:hover {
  	-moz-transition: all .1s ease-in;
  	-o-transition: all .1s ease-in;
  	-webkit-transition: all .1s ease-in;
  	transition: all .1s ease-in;
  	background-color: white;
  	opacity: 1;
}

.nav-link {
	color:white !important;
	margin: 0 10px;
	font-size: 15px;
	font-weight: 600;
	transition: all 250ms;
}
	.nav-link:hover {
		letter-spacing: 2px;
		font-size: 18px;
	}
.navItems {
	transform: translateX(100);
	animation: slideInX 500ms ease-in-out;
}


.nav-link::before, .navLink::after {
    content: '';
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2px;
    background-color: darkorange;
    left: 0;
    transform: scaleX(0);
    transition: all ease-in 300ms;
}
.nav-link::before {
    top: 0;
    transform-origin: left;
}
.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.navbar:hover .navbar-brand {
	color:black !important;
}

.navbar:hover .navbar-brand>img {
	-webkit-filter: invert(0%);
}

.navbar:hover .nav-link {
	color:black !important;
}

/*Slide in for navigation bar items*/
@keyframes slideIn {
    from {
        /*NULL*/
    }
    to {
        transform: translateX(0);
    }
}
