html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.MidPageBackImg{
	width: 100%;
	height:auto;
	display: block;
}

.valueCard {
	padding: 25% 0 45% 0;
}
	.valueCard div {
		text-align: center;
		padding-top: 5%;
	}

@media only screen and (max-width: 768px) {
	.valueCard {
		padding: 2% 0 0 0;
	}
		.valueCard div {
			padding-top: 2%;
		}
		.valueCard:nth-last-child(1) {
			margin-bottom: 40px;
		}
}