.SearchBox {
	position: absolute;
	top:30%;
	left:32px;
	max-width: 450px;
	color:white;
	padding: 15px;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.5);
}

.m{
	font-weight:bold;
	color:white;
	font-size: 40px;
}
