
.SearchBox {
	position: relative;
	top:30%;
	left:32px;
	max-width: 450px;
	color:white;
	padding: 15px;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.5);
	animation: flipInX 1s ease-in-out;
}

.m{
	font-weight:bold;
	color:white;
	font-size: 40px;
}

/*Flip in animation for header text box*/
@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@media only screen and (max-width: 768px) {
    .SearchBox {
        width: 350px;
    }
        .SearchBox .m {
            font-size: 30px;
        }
        .SearchBox h1 {
            font-size: 24px;
            line-height: 35px;
        }
}
