.BackImg {
  height:500px;
  background-image: url(".\imgs\education_back_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Full_Back {
	background-color: #ebebeb;
}